# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# other
constants/api_key.ts
firebase/config.ts
utils/firebase/
app.json
google-services.json
GoogleService-Info.plist

# native code
android/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
